body{
	width: 100%;
	font-family: "Open Sans", "Helvetica", "Arial", "Hiragino Kaku Gothic Pro", "Meiryo", "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
	font-size: 16px;
}

.menu{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 20px 3vh 0;
}

.mobile-nav{
	font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
	margin: auto;
	height: 0px;
	transition: height 300ms;
}
.mobile-nav.show{
	height: 131px;
	transition: height 300ms;
}
.mobile-nav ul{
	padding-left: 0;
	margin-bottom: 0;
}
.mobile-nav li{
	text-align: center;
	text-transform: uppercase;
	list-style-type: none;
	padding: 5px 15px;
}
.mobile-nav li:not(:last-child){
	border-bottom: 1px solid #333;
}
.mobile-nav li > a{
	color: #000;
}
.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
  margin: 4px;
}

.hero{
	display: flex;
	position: relative;
	height: 100vh;
	padding: 0 3% 0;
	align-items: center;
	background-image: 
		url('../img/hero-bg-mobile.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: center;
	color: #fff;
}
.hero .content h1{
	margin: 0;
	font-size: 5em;
}
.hero .content p{
	margin: 0;
}

.section{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
.section:nth-child(even){
	background-color: #f9f9f9;
}
.section .title{
	padding-bottom: 22px;
}
.section h2{
	display: inline-block;
	font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.section h2:after{
	content: '';
	display: block;
	margin: auto;
	width: 0%;
	border-bottom: 2px solid #000;
	transition: width .5s ease;
	-webkit-transition: width .5s ease;
	-moz-transition: width .5s ease;
	-o-transition: width .5s ease;
}
.section.toggle h2:after{
	width: 100%;
}
.section .list{
	text-align: left;
	font-size: 1.6em;
	border: 2px solid #000;
	border-radius: 7px;
	margin: 10px 0;
	padding: 7px 18px;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
}
.section .list:hover{
	background-color: #165ba8;
	color: #fff !important;
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
}
.section .list i{
	width: 28px;
}
.section .list h3{
	display: inline-block;
	margin: 0;
}

#about.section .image img{
	padding-bottom: 18px;
	max-width: 50%;
}

.skills-col-wrapper{
	border: 2px solid #000;
	border-radius: 7px;
	margin: 30px 0;
	padding: 7px 18px 25px;
	height: calc(100% - 60px);
}
.skills-col-icon{
	position: absolute;
	top: calc(30px - 19px);
	left: 50%;
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 50%;
	padding: 5px;
	height: 38px;
	width: 38px;
	font-size: 1.3em;
	line-height: 1.1;
	transform: translateX(-50%);
}
.skills-col-title{
	display: inline-block;
	font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
	font-size: 1.2em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
}
.skills-col-list{
	text-align: left;
	padding: 0 20px;
}
.skills-col-list h4{
	font-size: 1.4em;
}

#projects.section .project{
	padding-bottom: 50px;
}
#projects.section .image img{
	border: 3px solid #000;
	border-radius: 5px;
	width: 100%;
}
#projects.section .image-wrapper:after{
	position: absolute;
	top: 3px;
	bottom: 3px;
	left: 18px;
	right: 18px;
	padding: 25% 0;
	content: 'View';
	color: #fff;
	background-color: rgba(22, 91, 168, 0.8);
	visibility: hidden;
	opacity: 0;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
}
#projects.section .image-wrapper:hover:after{
	visibility: visible;
	opacity: 1;
}

#connect.section .list{
	width: 100%;
	background-color: #fff;
	color: #000;
}
#connect.section .list:hover{
	background-color: #165ba8;
}

#footer.section{
	background-color: #000;
	color: #fff;
	padding-top: 12px;
	padding-bottom: 0;
}

#not-found.section h1{
	margin-bottom: 0;
	font-size: 6.5em;
}
#not-found.section h2{
	text-transform: none;
}
#not-found.section h3{
	margin-top: 0;
}

@media only screen and (min-width: 800px){
	.hero{
		background-image: url('../img/hero-bg.jpg')
	}
}

@media only screen and (min-width: 768px){
	.hero{
		height: calc(100vh - 60px);
		background-image: url('../img/hero-bg.jpg')
	}

	.nav{
		text-align: center;
		padding-top: 19px;
		height: 60px;
	}
	.nav a{
		position: relative;
		margin: 0 5vh;
		color: #000;
		font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	.nav a:hover{
		text-decoration: none;
	}
	.nav a:focus{
		text-decoration: none;
	}
	.nav a:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		border-bottom: 2px solid #000;
		transition: width 300ms;
	}
	.nav a:hover:after{
		width: 100%;
	}

	.section{
		padding: 120px 15px;
	}

	#about.section .container-fluid{
		max-width: 560px;
	}
	#about.section .image img{
		max-width: 30%;
	}

	.skills-container{
		clear: left;
		display: flex;
		align-items: stretch;
	}

	#skills.section .container-fluid,
	#projects.section .container-fluid{
		max-width: 900px;
	}
	#projects.section .project{
		display: flex;
		width: 100%;
		align-items: center;
		padding-bottom: 80px;
	}
	#projects.section .description{
		text-align: left;
	}
	#projects.section .description h3{
		margin-top: 0;
	}

	#connect.section .container-fluid{
		max-width: 860px;
	}
}

/*High resolution devices*/
@media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (   min--moz-device-pixel-ratio: 1.5),
	only screen and (     -o-min-device-pixel-ratio: 3/2),
	only screen and (        min-device-pixel-ratio: 1.5),
	only screen and (min-resolution: 192dpi) {
	.hero{
		background-image: url('../img/hero-bg-mobile-2x.jpg')
	}
}

@media  only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 800px),
	only screen and (   min--moz-device-pixel-ratio: 1.5) and (min-width: 800px),
	only screen and (     -o-min-device-pixel-ratio: 3/2) and (min-width: 800px),
	only screen and (        min-device-pixel-ratio: 1.5) and (min-width: 800px),
	only screen and (min-resolution: 192dpi)  and (min-width: 800px){
	.hero{
		background-image: url('../img/hero-bg-2x.jpg')
	}
}

