<!-- About -->
{{#> common/section id="about" class="bg-gray-50" }}
  {{#> common/section_title }}
    About Adwin
  {{/common/section_title}}

  <div class="w-44 mx-auto mb-4">
    <picture>
      <source srcset="img/avatar.png, img/avatar-2x.png 2x">
        <img srcset="img/avatar.png, img/avatar-2x.png 2x" alt="Profile picture">
    </picture>
  </div>

  <div class="max-w-lg mx-auto text-center">
    <p class="mb-2 italic">
      Tokyo, Japan
    </p>
    <p class="text-gray-800">
      Self-taught full-stack web dev.
      Speaks English, 中文, Bahasa Melayu, 日本語.
      Hobbies include cooking and traveling.
      Occasionally wrecks servers through
      {{#> common/link url="https://www.reddit.com/r/selfhosted/"}}
        self-hosting
      {{/common/link}}
      and
      {{#> common/link url="https://www.reddit.com/r/homelab/"}}
        homelab-ing
      {{/common/link}}.
    </p>
  </div>
{{/common/section}}
