<!-- Connect -->
{{#> common/section id="connect" }}
  {{#> common/section_title }}
    Connect
  {{/common/section_title}}

  <div class="max-w-4xl mx-auto text-gray-800 text-center">
    Connect with Adwin through social media or request a resumé through email:
  </div>

  <div class="max-w-4xl mx-auto my-10 md:my-20
    grid grid-cols-1 md:grid-cols-3 gap-x-7 gap-y-5">
    {{#each connect}}
      {{#> common/button_icon this class="block w-full" }}
        {{title}}
      {{/common/button_icon}}
    {{/each}}
  </div>
{{/common/section}}
