<!-- Hero -->
<section class="flex items-center relative h-screen md:h-[calc(100vh-3.75rem)]
  px-3 md:px-6 lg:px-10
  bg-hero-mobile hero:bg-hero bg-cover bg-center bg-no-repeat bg-local">
  <!-- Hamburger toggle -->
  <div class="md:hidden absolute top-4 right-5 w-9 p-2">
    {{> (iconPath "menu") class="w-full text-white" }}
  </div>

  <!-- Hero text -->
  <div class="text-white leading-[5.5rem] text-[5rem] font-light">
    <span class="block text-base">
      Landing page of
    </span>
    Adwin Ying
  </div>
</section>
