<!-- Not Found -->
<section class="min-h-screen px-4 py-10 md:py-32 text-center bg-gray-50">
  <div class="max-w-4xl mx-auto">
    <h1 class="mb-8 font-title text-2xl tracking-wider">
      iADWIN
    </h1>

    <h2 class="mb-3 font-light">
      <span class="block text-8xl">
        404!
      </span>
      <span class="block text-2xl">
        [Page Not Found]
      </span>
    </h2>

    <p>
      The page you're looking for could not be found.
      Perhaps you would like to go back to the <a class="text-blue-400 hover:text-blue-700" href="/">main page</a>?
    </p>
  </div>
</section>
