<!-- Projects -->
{{#> common/section id="projects" class="bg-gray-50" }}
  {{#> common/section_title }}
    Featured Projects
  {{/common/section_title}}

  <div class="space-y-12 md:space-y-20 mt-10 mb-16 mx-auto max-w-4xl">
    {{#each projects }}
      {{> components/project_container this }}
    {{/each}}
  </div>

  <div class="flex justify-center">
    {{#> common/button_icon
      url="https://github.com/adwinying"
      icon="github" }}
      More Projects @ GitHub
    {{/common/button_icon}}
  </div>
{{/common/section}}
