.slide{
	height: 120vh;
}
.content{
	padding: 50vh 15vw;
}

h1{
	font-family: 'Slabo 27px', serif;
	font-size: 5em;
	text-align: center;
}

h2{
	text-align: center;
	font-family: Lora, Georgia, "Times New Roman", serif;
	font-size: 48px;
}

h3{
	text-align: center;
	font-family: 'Coming Soon', cursive;
	font-size: 2em;
}

p{
	margin-top: 1vh;
	text-align: center;
	font-family: Lora, Georgia, "Times New Roman", serif;
	font-size: 1em;
}

#slide1{
	background: url('../img/slide1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

#slide1 .content{
	padding: 70vh 15vw 0;
}

#slide2{
	background-color: #e74c3c;
}

#slide3{
	background: url('../img/slide3.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

#slide3 .content{
	padding: 20vh 15vw 0;
}

#slide4{
	background-color: #9b59b6;
}

#slide5{
	background: url('../img/slide5.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

#slide5 .content{
	padding: 30vh 15vw 0;
}

#slide6{
	background-color: #34495e;
}

#slide6 h2,p{
	color: #fff;
}

#slide7{
	background: url('../img/slide7.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

#slide7 .content{
	padding: 75vh 15vw 0;
}

#slide7 h2{
	color: #fff;
}

#slide8{
	background-color: #f1c40f;
}

#slide9{
	background: url('../img/slide9.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

#slide9 .content{
	padding: 75vh 15vw 0;
}

#slide10{
	background-color: #95a5a6;
}

#slide11 h1{
	font-size: 6em;
}

#slide11 h2{
	margin: 1vh;
	font-size: 1.5em;
}

#slide11 h3{
	margin: 10vh;
	font-family: 'Coming Soon', cursive;
	font-size: 2em;
}

#slide11 .content{
	padding: 35vh 15vw 0;
}

#slide11{
	height: 100vh;
	background: linear-gradient(rgba(236, 240, 241, 0.5), rgba(236, 240, 241, 0.55)),
		url('../img/slide11.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}