---
import Header from "@/components/Header.astro";
import RssIcon from "@/components/icons/Rss.astro";
---

<Header width="blog">
  <a href="/blog" class="font-sans text-3xl font-normal text-gray-900"> Blog</a>

  <a href="/blog/rss.xml" target="_parent">
    <RssIcon class="mt-1 h-5" />
  </a>
</Header>
