---
import TagLinks from "@/features/blog/TagLinks.astro";
import { cn } from "@/utils/css";

interface Props {
  className?: string;
  posts: {
    url: string;
    title: string;
    date: Date;
    tags?: string[];
  }[];
}

const { className, posts } = Astro.props;
---

<div class={cn("flex flex-col space-y-8", className)}>
  {
    posts.map((post) => {
      const { url, title, date } = post;
      const tags = post.tags ?? [];

      return (
        <div class="flex flex-col space-y-0.5">
          <a href={url}>
            <h2 class="text-3xl font-bold text-gray-900">{title}</h2>
          </a>

          <span class="inline-block text-sm text-gray-600">
            {Intl.DateTimeFormat("en-GB", {
              day: "2-digit",
              month: "short",
              year: "numeric",
            }).format(date)}

            {" | "}

            <TagLinks tags={tags} />
          </span>
        </div>
      );
    })
  }
</div>
