---
import Icons from "@/components/icons/Icons";
import Section from "@/features/landing/Section.astro";
import { skills } from "@/features/landing/data";
import { cn } from "@/utils/css";
---

<Section id="skills" class="bg-white">
  <Fragment slot="title">Skills</Fragment>

  <div
    class={cn(
      "mx-auto mt-10 max-w-4xl space-y-16 md:flex md:items-stretch",
      "md:space-x-7 md:space-y-0",
    )}
  >
    {
      skills.map(({ title, icon, contents }) => {
        const SkillIcon = Icons[icon];

        return (
          <div class="relative flex-1 rounded-md border-2 border-black px-6 py-6">
            <div
              class={cn(
                "absolute left-1/2 top-0 flex h-10 w-10 -translate-x-1/2",
                "-translate-y-1/2 transform items-center justify-center rounded-full",
                "border-2 border-black bg-white",
              )}
            >
              <SkillIcon class="h-5" />
            </div>

            <h3 class="mb-4 mt-1 text-center font-title text-xl uppercase tracking-wider">
              {title}
            </h3>

            <ul class="space-y-3 text-xl font-light">
              {contents.map((content) => (
                <li>{content}</li>
              ))}
            </ul>
          </div>
        );
      })
    }
  </div>
</Section>
