---
import CommonHead from "@/components/CommonHead.tsx";
import Header from "@/components/Header.tsx";
import NotFound from "@/components/NotFound.tsx";
import Footer from "@/components/Footer.tsx";
---

<html lang="en">
<head>
  <CommonHead title="Not Found" />
</head>

<body class="flex flex-col bg-gray-50 min-h-screen">
  <Header />

  <NotFound />

  <Footer />
</body>
</html>
