---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Link from "@/components/Link.astro";
import BaseLayout from "@/layouts/base.astro";
---

<BaseLayout title="404 Not Found">
  <Header />

  <main class="container mx-auto flex-grow px-4 py-10 md:py-48">
    <div class="mx-auto max-w-4xl text-center">
      <h2 class="mb-3 font-light">
        <span class="block text-8xl">404!</span>
        <span class="block text-2xl">[Page Not Found]</span>
      </h2>

      <p>
        The page you&apos;re looking for could not be found.{" "}
        <br class="hidden sm:block" />
        Perhaps you would like to go back to the{" "}
        <Link href="/">main page</Link>?
      </p>
    </div>
  </main>

  <Footer />
</BaseLayout>
