---
import CommonHead from "@/components/CommonHead.tsx";
import Hero from "@/components/Hero.tsx";
---

<html lang="en">
<head>
  <CommonHead />
</head>

<body>
  <main>
    <Hero />
  </main>
</body>
</html>
