---
import { cn } from "@/utils/css";

type Props = {
  href: string;
  ariaLabel?: string;
  class?: string;
};

const { href, ariaLabel } = Astro.props;
---

<a
  class={cn("text-sky-500 hover:text-sky-700", Astro.props.class)}
  href={href}
  aria-label={ariaLabel}
>
  <slot />
</a>
