---
import CommonHead from "@/components/CommonHead.tsx";

const { title } = Astro.props
---

<html lang="en">
<head>
  <CommonHead title={title} />

  <link rel="stylesheet" href={Astro.resolve("../styles/global.css")} />

  <slot name="head" />
</head>

<body>
  <slot />
</body>
</html>
