---
import CommonHead from "@/components/CommonHead.tsx";

const { title, description } = Astro.props
---

<html lang="en">
<head>
  <CommonHead title={title} description={description} />

  <slot name="head" />
</head>

<body>
  <slot />
</body>
</html>
