---
import type { ImageMetadata } from "astro";
import { SEO } from "astro-seo";

import { cn } from "@/utils/css";

import "@/styles/main.css";

interface Props {
  title?: string;
  description?: string;
  image?: ImageMetadata | null;
  isPost?: boolean;
  className?: string;
}

const title = Astro.props.title ?? "iAdwin";
const pageTitle = Astro.props.title ? `${title} - iAdwin` : title;
const description =
  Astro.props.description ?? "The landing page of Adwin Ying.";
const type = Astro.props.isPost ? "article" : "website";
const image =
  (Astro.site?.toString() ?? "") + (Astro.props.image || "img/social.jpg");

const seo = {
  title: pageTitle,
  description,
  openGraph: {
    basic: {
      title,
      type,
      image,
    },
    optional: {
      description,
    },
    image: {
      alt: title,
    },
  },
  twitter: {
    card: "summary_large_image" as const,
  },
  extend: {
    meta: [
      { name: "viewport", content: "width=device-width, initial-scale=1.0" },
      { name: "author", content: "Adwin Ying" },
    ],
  },
};

const className = Astro.props.className ?? "";
---

<html lang="en">
  <head>
    <SEO {...seo} />
    <meta charset="UTF-8" />

    <meta name="theme-color" content="#ffffff" />
    <link rel="icon" href="/favicon.svg" />
    <link rel="mask-icon" href="/mask-icon.svg" color="#000000" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.json" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap"
    />

    {
      import.meta.env.PROD && (
        <script
          async
          defer
          data-website-id="5defccd5-b1c2-4556-8635-cfd36e168899"
          src="https://u.iadw.in/bundle.js"
        />
      )
    }

    <slot name="head" />
  </head>

  <body class={cn("flex flex-col bg-gray-50 min-h-screen", className)}>
    <slot />
  </body>
</html>
