<!-- Project container -->
<div class="md:flex md:space-x-7 md:items-center">
  <div class="w-full md:w-1/3">
    <img class="w-full border-[3px] border-black rounded-md" src="img/{{img}}">
  </div>

  <div class="w-full md:w-2/3 py-5 md:py-0 text-center md:text-left">
    <h3 class="flex justify-center md:justify-start items-center
      space-x-1 mb-1.5 text-2xl font-light">
      <span>{{title}}</span>
      {{#> common/link url=url }}
        {{> (iconPath "link") class="w-6 p-1" }}
      {{/common/link}}
    </h3>

    <div class="flex flex-wrap gap-x-1.5 gap-y-1 justify-center md:justify-start mb-3">
      {{#each tags}}
        <span class="px-3 py-1 bg-gray-800 text-white text-sm rounded-full">
          {{this}}
        </span>
      {{/each}}
    </div>

    <p class="text-gray-800">{{description}}</p>

    <p></p>
  </div>
</div>
