<!-- Skills container -->
<div class="flex-1 relative px-6 py-6 rounded-md border-2 border-black">
  <div class="flex justify-center items-center
    absolute top-0 left-1/2 w-10 h-10 bg-white
    rounded-full border-2 border-black
    transform -translate-x-1/2 -translate-y-1/2">
    {{> (iconPath icon) class="h-5" }}
  </div>

  <h3 class="mt-1 mb-4 font-title text-xl text-center tracking-wider uppercase">
    {{title}}
  </h3>

  <ul class="space-y-3 text-xl font-light">
    {{#each contents}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
